<component name="libraryTable">
  <library name="springframework.boot.spring" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot:2.7.6" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot/2.7.6/spring-boot-2.7.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.24/spring-core-5.3.24.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.24/spring-jcl-5.3.24.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/5.3.24/spring-context-5.3.24.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/5.3.24/spring-aop-5.3.24.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/5.3.24/spring-beans-5.3.24.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/5.3.24/spring-expression-5.3.24.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>